@model TechSupport.TokenOrder

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TokenOrder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumTokens)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumTokens)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TokenPackage1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TokenPackage1.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
