@using Microsoft.AspNet.Identity
@model TechSupport.Question

@{
    ViewBag.Title = "Details";
}

<h2>Question Details</h2>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Locked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Locked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Channel1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Channel1.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category1.Name)
        </dd>

    </dl>
</div>

<hr />

<h2>Answers</h2>

<table class="table">

    @foreach (var item in Model.Answers)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUser.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeCreated)
            </td>
            <td>
                @{ 
                    int likes = item.Ratings.Where(r => r.Likes.Equals(true)).Count();
                }
                @Html.ActionLink("Like ", "Create", "Ratings", new { UserId = User.Identity.GetUserId(), AnswerId = item.Id, Likes = true, QuestionId = Model.Id }, null)
                @Html.DisplayFor(modelItem => likes)
            </td>
            <td>
                @{
                    int dislikes = item.Ratings.Where(r => r.Likes.Equals(false)).Count();
                }
                @Html.ActionLink("Dislike ", "Create", "Ratings", new { UserId = User.Identity.GetUserId(), AnswerId = item.Id, Likes = false, QuestionId = Model.Id }, null)
                @Html.DisplayFor(modelItem => dislikes)
            </td>
            <td>
                @Html.ActionLink("Answer ", "Create", "Answers", new { ReplyOn = item.Id }, null)
                @*@using (Html.BeginForm("Reply", "Answers", new { auctionId = auction.Id }, FormMethod.Post, null))
                {
                @Html.TextBoxFor(m => m.numTokens, new { @class = "form-control", autocomplete = "off", @Value = 1 })
                <input type="submit" value="Bid" class="bid btn btn-primary btn-sm" />

                }*@

            </td>
        </tr>
    }
</table>

@*<div id="MyModal" class="modal fade" tabindex="-1" role="dialog" style="border: 5px solid #3A87AD;">
    <div class="modal-dialog">
        @using (Html.BeginForm("Search", "Questions", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="modal-content" style="width:500px !important; margin: 10px auto !important;">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(model => model.BidAmount, htmlAttributes: new { @class = "col-form-label" })
                            @Html.TextBoxFor(model => model.BidAmount, new { @Value = 1 })
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal">Submit</button>
                    <button class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        }
    </div>
</div>*@

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
