@using Microsoft.AspNet.Identity
@model TechSupport.Models.QuestionsIndexViewModel

@{
    ViewBag.Title = "Index";
}

<style type="text/css">
    .true {
        background-color: coral;
        opacity : 0.8;
        color : white;
    }
    .false {
        background-color: white;
    }
    .true td a {
        color : white;
        text-decoration : none;
    }
    .true td a:hover {
        color : crimson;
    }
</style>

<h2>Index</h2>

@using (Html.BeginForm("Index", "Questions", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="form-horizontal">
        <div class="form-inline">
            <div class="form-group">
                @Html.LabelFor(m => m.Category, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.DropDownList("Category", null, htmlAttributes: new { @class = "col-md-offset-4 form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-8 col-md-10">
                    <input type="submit" value="Search" class="btn btn-primary btn-sm" />
                </div>
            </div>
        </div>
    </div>
}

<hr />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Questions.First().Question.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Questions.First().AuthorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Questions.First().AnswerCount)
        </th>
        <th>
            Action
        </th>
    </tr>

    @foreach (var item in Model.Questions)
    {
        <tr class="@item.Question.Locked.ToString().ToLower()">
            <td>
                @Html.ActionLink(item.Question.Title, "Details", new { id = item.Question.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerCount)
            </td>
            <td class="action">
                @*@Html.ActionLink("Details  ", "Details", new { id = item.Question.Id })*@
                @if (User.Identity.GetUserId() == item.Question.Author)
                {
                    if (!item.Question.Locked)
                    {
                        @Html.ActionLink("Close  ", "Close", new { id = item.Question.Id });
                    }
                    @Html.ActionLink("Delete  ", "Delete", new { id = item.Question.Id })
                }
                @if (User.IsInRole("admin"))
                {
                    if (item.Question.Locked)
                    {
                        @Html.ActionLink("Open  ", "Open", new { id = item.Question.Id });
                    }
                    @Html.ActionLink("Delete  ", "Delete", new { id = item.Question.Id })
                }
                @if (User.IsInRole("agent"))
                {
                    if (item.Question.Locked)
                    {
                        @Html.ActionLink("Open  ", "Open", new { id = item.Question.Id });
                    }
                }
                @if (User.Identity.IsAuthenticated)
                {
                    if (!item.Question.Locked)
                    {
                        @Html.ActionLink("Answer  ", "Create", "Answers", new { Id = item.Question.Id }, null);
                    }
                }
            </td>
        </tr>
    }
</table>
