@using Microsoft.AspNet.Identity
@model IEnumerable<TechSupport.Models.QuestionsIndexViewModel>

@{
    ViewBag.Title = "Index";
}

<style type="text/css">
    .true {
        background-color: crimson;
        color : white;
    }
    .false {
        background-color: white;
    }
    .true .action a {
        color : white;
        text-decoration : none;
    }
    .true .action a:hover {
        color : cadetblue;
    }
</style>

<h2>Index</h2>
@if (User.IsInRole("user"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Question.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnswerCount)
        </th>
        <th>
            Action
        </th>
    </tr>

@foreach (var item in Model) {
    <tr class="@item.Question.Locked.ToString().ToLower()">
        <td>
            @Html.DisplayFor(modelItem => item.Question.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnswerCount)
        </td>
        <td class="action">
            @Html.ActionLink("Details  ", "Details", new { id=item.Question.Id })
            @if (User.Identity.GetUserId() == item.Question.Author)
            {
                if(!item.Question.Locked) {
                    @Html.ActionLink("Close  ", "Close", new { id = item.Question.Id });
                }
                @Html.ActionLink("Delete  ", "Delete", new { id = item.Question.Id })  
            }
            @if (User.IsInRole("admin"))
            {
                if (item.Question.Locked)
                {
                    @Html.ActionLink("Open  ", "Open", new { id = item.Question.Id });
                }
                @Html.ActionLink("Delete  ", "Delete", new { id = item.Question.Id })
            }
            @if (User.IsInRole("agent"))
            {
                if (item.Question.Locked)
                {
                    @Html.ActionLink("Open  ", "Open", new { id = item.Question.Id });
                }
            }
            @if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("Answer  ", "Create", "Answers", new { Id = item.Question.Id }, null);
            }
        </td>
    </tr>
}
</table>
