@using Microsoft.AspNet.Identity
@model IEnumerable<TechSupport.Models.QuestionsIndexViewModelItem>
@{
    ViewBag.Title = "MyQuestions";
}

<style type="text/css">
    .true {
        background-color: coral;
        opacity: 0.8;
        color: white;
    }

    .false {
        background-color: white;
    }

    .true td a {
        color: white;
        text-decoration: none;
    }

        .true td a:hover {
            color: crimson;
        }
</style>
 
<h2>MyQuestions</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Question.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnswerCount)
        </th>
        <th>
            Action
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="@item.Question.Locked.ToString().ToLower()">
            <td>
                @Html.DisplayFor(modelItem => item.Question.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerCount)
            </td>
            <td class="action">
                @Html.ActionLink("Details  ", "Details", new { id = item.Question.Id })
                @if (!item.Question.Locked)
                {
                    @Html.ActionLink("Close  ", "Close", new { id = item.Question.Id });
                }    
                @Html.ActionLink("Answer  ", "Create", "Answers", new { Id = item.Question.Id }, null)
            </td>
        </tr>
    }
</table>